In [1]:
%cd ../

/scratch/project_2010450/thesis

In [2]:
import json

import pandas as pd

In [6]:
path = "logs/Jul25_150407_NPE_amazon-digital-music_usecutoff_True/tune_result.json"

with open(path) as f:
    raw = json.load(f)

d = {}

tag = 'val'
for metric, val in raw['best_result']['best_valid_result'].items():
    d[f"{tag}_{metric}"] = [val]

tag = 'test'
for metric, val in raw['best_result']['test_result'].items():
    d[f"{tag}_{metric}"] = [val]

pd.DataFrame(d)

,val_ndcg@10,val_precision@10,val_recall@10,val_mrr@10,val_hit@10,val_map@10,test_ndcg@10,test_precision@10,test_recall@10,test_mrr@10,test_hit@10,test_map@10
0,0.0223,0.005,0.0497,0.014,0.0497,0.014,0.0019,0.0004,0.0037,0.0014,0.0037,0.0014